.logo {
  --scale: 2;
  width: fit-content;
  margin: auto;
  position: relative;
}

.logo img {
  image-rendering: pixelated;
  display: block;
  height: calc(var(--scale) * 91px);
}

.logo svg {
  font-size: calc(var(--scale) * 1rem);
  height: 1.5em;
  width: 4em;
  position: absolute;
  bottom: -0.4em;
  right: 0;
}

.logo text {
  fill: #FFF;
  font-weight: bolder;
  stroke: #000;
  stroke-width: calc((var(--scale) * 0.5px));
  stroke-linejoin: round;
}

@media (max-width: 576px) {
  .logo {
    --scale: 1;
  }
}