.gamePreview h5 {
  margin-bottom: 0.5rem;
}

.gamePreview .content {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content > * {
  flex-grow: 1;
}

.gamePreview .mapPreview {
  background-color: var(--accent-bg);
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.gamePreview .buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 0.5rem;
}

.gamePreview .buttons > * {
  margin: 0;
}
