@tailwind base;
@tailwind utilities;

nav a {
  user-select: none;
}

article > :first-child:is(h1,h2,h3,h4,h5) {
  margin-top: 0;
}

img {
  border-radius: 0;
}

hr {
  border-color: var(--border);
}

.pixelated {
  image-rendering: pixelated;
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 640px) {
  article {
    padding: 0.5rem;
  }

  #root > header {
    padding-bottom: 1rem;
  }
}